$link: cornflowerblue;
$visited: black;
$accent: coral;
$pythonArticles: #c1fdc1;

//code colors
$keyword: coral;
$symbol: blueviolet;
$number: cornflowerblue;
$nativeFunc: darkorchid;
$string: forestgreen;
$lineComment: grey;
$output: darkolivegreen;
$code: firebrick;