@import 'colors';
main hr{
  margin-top: 100px;
}

p{
  text-align: left;
}

code {
  font-family: "Lucida Console", monospace;
  white-space: pre;
}

.wordcode {
  font-family: "Lucida Console", monospace;
}

.code {
  margin: 40px 0;
  padding: 20px 0 20px 20px;
  border: 1px dashed #888888;
  border-left: 8px solid $code;
  overflow: auto;
  height: 100%;
}
  .keyword {
    color: $keyword;
  }

  .symbol {
    color: $symbol;
  }

  .number {
    color: $number;
  }

  .nativeFunc {
    color: $nativeFunc;
  }

  .string {
    color: $string;
  }

  .lineComment {
    color: $lineComment;
  }

  .string > span {
    color: inherit;
  }

  .lineComment > span {
    color: inherit;
  }

.hiddencode {
  opacity:0;
}


.output{
  margin: 40px 0;
  padding: 20px 0 20px 20px;
  border: 1px dashed #888888;
  border-left: 8px solid $output;
}

