@import 'include_media/_include_media';
p {
  text-align: center;
}

img {
  max-width:100%;
  height:auto;
}

#content {
  margin-left: auto;
  margin-right: auto;
  @include media('>tablet'){
    max-width: 40vw;
  }
}