.pythonarticles {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: ". beginner ."
                        "intermediate . advanced";
}

.pythonarticles div {
  text-align: center;
}

.pythonarticles h2 {
  font-size: 100%;
}

#beginnerpython {
  grid-area: beginner;
}

#intermediatepython {
  grid-area: intermediate;
}

#advancedpython {
  grid-area: advanced;
}

#contentList {
  display: grid;
  text-align: center;
}

.summaryTitle {
  margin-top: 80px;
  margin-bottom: 0;
}

.summary {
  margin-top: 5px;
}

li {
  text-align: left;
}

#listtitle {
  margin-bottom: auto;
  margin-top: auto;
}

#articlelist {
  padding-right: 15px;
  margin-top: 0;
}


