body {
  font-family: Helvetica, sans-serif;
  font-size: 140%;
}

main {
  width: 66vw;
  max-width: 1000px;
  margin: 5vh auto 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:visited {
  color: cornflowerblue;
}

a:hover {
  color: black;
}


.topnav {
  width: 80vw;
  min-width: 1000px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  grid-template-areas: "name . . mainnav"
  "line line line line";
}
.topnav a{
  font-size: 120%;
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

.topnav a:visited {
  color: black;
}

.topnav a:hover {
  text-decoration: none;
  color: cornflowerblue;
}

.homepage {
  grid-area: name;
}

.mainnav {
  grid-area: mainnav;
  display: grid;
  grid-template-columns: fit-content(40%) fit-content(40%) fit-content(20%);
  grid-template-areas: "about articles search";
}

.mainnav > * {
  padding: 20px 50px;
}

#about {
  grid-area: about;
}

#articles {
  grid-area: articles;
}

#searchArea {
  position: relative;
  grid-area: search;
  max-width: 40%;
  max-height: 50%;
}

#searchbar {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20%;


}

#searchResults {
  position: absolute;
  border-color: #888888;
  border-style: solid;
  border-width: 2px;
  width: 60%;
}

#searchResults a:visited{
  color: cornflowerblue;
}

#searchResults a{
  color: cornflowerblue;
  margin: 0;
}

#searchResults a:hover{
  color: black;
}

#searchResults ul {
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0;
  background-color: white;
}

#searchResults ul li {
  padding: 0 4px;
}

#data {
  grid-area: data;
}

.topnav hr {
  grid-area: line;
}

.current {
  border-bottom: coral solid 4px;
}

.jsHidden {
  visibility: hidden;
}

#searchResults .jsSearchHighlighted a{
  background: #888888;
  color: black;
}

#searchResults .jsSearchHighlighted a:visited{
  background: #888888;
  color: black;
}