<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
            {{ .Site.Title }}
        {{ end }}
    </title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/articles.css">
    <link rel="stylesheet" href="/css/bestarticles.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/normalize.css">


</head>
<body>
<header>
    <nav class="topnav">
        <a href="/" id="homepage"><span>JASON HAVILL</span></a>
        <div class="mainnav">
            <a href="/about" id="about"><span {{ if eq .Title "About" }}class='current'{{ end }}>ABOUT</span></a>
            <a href="/articles" id="articles"><span {{ if or (eq .Title "articles") (eq .Section "articles" ) }}class='current'{{ end }}>ARTICLES</span></a>
            <div id="searchArea">
                <input type="text" placeholder="Search" id="searchbar" onkeyup="searchArticles(event, this)">
                <div id="searchResults" class="jsHidden">
                </div>
            </div>


        </div>
    </nav>
</header>
<!-- Code that all your templates share, like a header -->
<main>
    {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
    {{ end }}
</main>

{{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
{{ end }}
</body>
</html>

<script src="/js/searchbar.js"></script>
<script src="/js/solution.js"></script>
