{{/*{% extends "codetutorials/baseof.html" %}*/}}
{{/*{% block content %}*/}}
{{/*    {% load static %}*/}}
{{/*    <h1>Visualizations of Data Sets</h1>*/}}
{{/*    <p>The breakdown of songs I listen to by band and time, as a percentage of total songs listened to at any point.</p>*/}}
{{/*    <img  src="{% static 'images/musicvisFrames/musicvisFrame0.jpg' %}" onclick="advanceImage()" id="musicvisChart">*/}}
{{/*    <script>*/}}
{{/*        {% load static %}*/}}
{{/*        var musicVisGif = "{% static "images/musicvis.gif" %}";*/}}
{{/*        var musicVisFrame0 = "{% static "images/musicvisFrames/musicvisFrame0.jpg" %}"*/}}
{{/*    </script>*/}}
{{/*    <script src="{% static 'codetutorials/JS/musicvis.js' %}">*/}}
{{/*    </script>*/}}
{{/*{% endblock content %}*/}}