
{{define "main"}}
  {{.Content}}
{{ end }}
{{/*    {% load static %}*/}}
{{/*    <img src="{% static 'images/musicvisFrames/musicvisFrame0.jpg' %}" onclick="advanceImage()" id="musicvisChart">*/}}
{{/*</main>*/}}
{{/*<script>*/}}
{{/*    // {% load static %}*/}}
{{/*    var musicVisGif = "{% static "images/musicvis.gif" %}";*/}}
{{/*    var musicVisFrame0 = "{% static "images/musicvisFrames/musicvisFrame0.jpg" %}"*/}}
{{/*</script>*/}}
{{/*<script src="{% static 'codetutorials/JS/musicvis.js' %}">*/}}
{{/*</script>*/}}
{{/*{% endblock content %}*/}}