
{{define "main"}}
  {{.Content}}
  <section>
    <div id="contentList">
      <h2 id="listtitle">Recent Posts {{.Title}}</h2>
      <ul id="articlelist">
        {{ range first 3 (where .Site.Pages.ByPublishDate "Section" "articles") }}
          <li>
            <div>
              <h3 class="summaryTitle"><a href="{{.Permalink}}">{{.Title}}</a></h3>
              <p class="summary">{{.Summary | plainify}} <a href="{{ .RelPermalink }}" class="readmore">Read More…</a></p>
            </div>
          </li>
        {{ end }}
      </ul>
    </div>

  </section>
{{ end }}
{{/*    {% load static %}*/}}
{{/*    <img src="{% static 'images/musicvisFrames/musicvisFrame0.jpg' %}" onclick="advanceImage()" id="musicvisChart">*/}}
{{/*</main>*/}}
{{/*<script>*/}}
{{/*    // {% load static %}*/}}
{{/*    var musicVisGif = "{% static "images/musicvis.gif" %}";*/}}
{{/*    var musicVisFrame0 = "{% static "images/musicvisFrames/musicvisFrame0.jpg" %}"*/}}
{{/*</script>*/}}
{{/*<script src="{% static 'codetutorials/JS/musicvis.js' %}">*/}}
{{/*</script>*/}}
{{/*{% endblock content %}*/}}